.inputField {
  max-width: 200px;
  width: 100%;
  padding: 5px 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: inset 0px 1px 10px 0px rgb(85 85 85 / 20%);
  display: block;
  margin-bottom: 5px;
  border: none;
}

.saveBtn:disabled {
  color: #000;
  background-color: #ccc;
}