.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.itemLink {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.itemLink:hover,
.itemLink:active {
  color: #dc4734;
}