.paginationList {
  max-width: 700px;
  width: 100%;
  height: auto;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.paginationList span {
  margin: 0 5px;
  cursor: pointer;
}

.paginationList button {
  background: none;
  border: none;
  cursor: pointer;
}

.arrows {
  width: 30px;
  height: auto;
}
.active {
  font-weight: 700;
  font-size: 26px;
}
