.postAdd__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.postAdd__text {
  margin: 0 20px;
  text-align: center;
  width: 100%;
}

.postAdd__text textarea {
  width: 100%;
  padding: 5px 20px;
  resize: none;
  background-color: #f1f1f1;
  border-radius: 20px;
  height: 45px;
  box-shadow: inset 0px 1px 10px 0px rgb(85 85 85 / 20%);
}

.postAdd__btn {
  display: block;
  width: 170px;
  height: 45px;
  color: #fff;
  background-color: #dc4734;
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin: 0 10px;
  cursor: pointer;
}

.postAdd__btn:hover {
  color: #333;
}
