.wrapper {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.input {
  height: 70px;
  padding: 5px 20px;
  resize: none;
  background-color: #f1f1f1;
  border-radius: 20px;
  box-shadow: inset 0px 1px 10px 0px rgb(85 85 85 / 20%);
  display: block;
  flex: 1;
  margin-right: 20px;
}

.btn {
  display: block;
  height: 70px;
  color: #fff;
  background-color: #dc4734;
  padding: 11px 25px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: #333;
}
