.postAdd__text {
  margin: 0 20px;
}

.postAdd__text textarea {
  width: 100%;
  padding: 5px 20px;
  resize: none;
  background-color: #f1f1f1;
  border-radius: 20px;
  height: 45px;
  box-shadow: inset 0px 1px 10px 0px rgb(85 85 85 / 20%);
}

.postAdd__btn {
  display: block;
  color: #fff;
  background-color: #dc4734;
  padding: 11px 25px;
  border-radius: 20px;
  border: none;
  margin: 10px auto 30px;
  cursor: pointer;
}

.postAdd__btn:hover {
  color: #333;
}
