.message {
  margin: 20px 5px;
  text-align: left;
}

.message span {
  border: 1px solid #e36a5b;
  border-radius: 20px;
  padding: 5px;
  color: #e36a5b;
}

.messageRight {
  margin: 20px 5px;
  text-align: right;
}

.messageRight span {
  border: none;
  background-color: #e36a5b;
  color: #fff;
  border-radius: 20px;
  padding: 5px;
}
